body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:240px;
}
#u58 {
  position:absolute;
  left:0px;
  top:-5px;
  width:1920px;
  height:240px;
}
#u59 {
  position:absolute;
  left:2px;
  top:112px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1458px;
  height:80px;
}
#u61 {
  position:absolute;
  left:599px;
  top:87px;
  width:1458px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#000000;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:1458px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:125px;
}
#u64 {
  position:absolute;
  left:102px;
  top:53px;
  width:328px;
  height:125px;
}
#u65 {
  position:absolute;
  left:2px;
  top:54px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:125px;
}
#u66 {
  position:absolute;
  left:70px;
  top:53px;
  width:32px;
  height:125px;
}
#u67 {
  position:absolute;
  left:2px;
  top:54px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u69 {
  position:absolute;
  left:165px;
  top:501px;
  width:269px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:265px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u71 {
  position:absolute;
  left:165px;
  top:612px;
  width:377px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:373px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u73 {
  position:absolute;
  left:165px;
  top:387px;
  width:330px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:326px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u75 {
  position:absolute;
  left:165px;
  top:277px;
  width:320px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u77 {
  position:absolute;
  left:165px;
  top:729px;
  width:205px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:left;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u79 {
  position:absolute;
  left:85px;
  top:275px;
  width:54px;
  height:54px;
}
#u80 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u81 {
  position:absolute;
  left:82px;
  top:498px;
  width:57px;
  height:57px;
}
#u82 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u83 {
  position:absolute;
  left:82px;
  top:383px;
  width:57px;
  height:57px;
}
#u84 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u85 {
  position:absolute;
  left:82px;
  top:608px;
  width:57px;
  height:57px;
}
#u86 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u87 {
  position:absolute;
  left:82px;
  top:726px;
  width:57px;
  height:57px;
}
#u88 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:70px;
  top:813px;
  width:460px;
  height:10px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-3px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u91 {
  position:absolute;
  left:165px;
  top:860px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:54px;
}
#u93 {
  position:absolute;
  left:70px;
  top:913px;
  width:460px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u95 {
  position:absolute;
  left:87px;
  top:852px;
  width:48px;
  height:48px;
}
#u96 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:640px;
  top:275px;
}
#u97_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u97_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:425px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:425px;
}
#u99 {
  position:absolute;
  left:2px;
  top:204px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u97_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:425px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:425px;
}
#u101 {
  position:absolute;
  left:2px;
  top:204px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u97_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:425px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:425px;
}
#u103 {
  position:absolute;
  left:2px;
  top:204px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u104 {
  position:absolute;
  left:1593px;
  top:758px;
  width:158px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u106 {
  position:absolute;
  left:1716px;
  top:768px;
  width:24px;
  height:24px;
}
#u107 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u108 {
  position:absolute;
  left:640px;
  top:437px;
  width:101px;
  height:101px;
}
#u109 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u110 {
  position:absolute;
  left:1662px;
  top:437px;
  width:102px;
  height:102px;
}
#u111 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1280px;
  top:758px;
  width:300px;
  height:43px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:80px;
}
#u113 {
  position:absolute;
  left:704px;
  top:758px;
  width:538px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u115 {
  position:absolute;
  left:640px;
  top:747px;
  width:54px;
  height:54px;
}
#u116 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:200px;
}
#u117 {
  position:absolute;
  left:1490px;
  top:838px;
  width:274px;
  height:200px;
}
#u118 {
  position:absolute;
  left:2px;
  top:92px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:200px;
}
#u119 {
  position:absolute;
  left:1215px;
  top:838px;
  width:235px;
  height:200px;
}
#u120 {
  position:absolute;
  left:2px;
  top:92px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:200px;
}
#u121 {
  position:absolute;
  left:930px;
  top:838px;
  width:240px;
  height:200px;
}
#u122 {
  position:absolute;
  left:2px;
  top:92px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u123 {
  position:absolute;
  left:640px;
  top:838px;
  width:250px;
  height:200px;
}
#u124 {
  position:absolute;
  left:2px;
  top:92px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u125 {
  position:absolute;
  left:640px;
  top:1054px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u127 {
  position:absolute;
  left:930px;
  top:1054px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u129 {
  position:absolute;
  left:1215px;
  top:1054px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u131 {
  position:absolute;
  left:1490px;
  top:1054px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u133 {
  position:absolute;
  left:640px;
  top:1084px;
  width:250px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u135 {
  position:absolute;
  left:930px;
  top:1084px;
  width:250px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u137 {
  position:absolute;
  left:1215px;
  top:1084px;
  width:250px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u139 {
  position:absolute;
  left:1490px;
  top:1084px;
  width:250px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:210px;
}
#u141 {
  position:absolute;
  left:1490px;
  top:1148px;
  width:274px;
  height:210px;
}
#u142 {
  position:absolute;
  left:2px;
  top:97px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:210px;
}
#u143 {
  position:absolute;
  left:1215px;
  top:1148px;
  width:235px;
  height:210px;
}
#u144 {
  position:absolute;
  left:2px;
  top:97px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:210px;
}
#u145 {
  position:absolute;
  left:930px;
  top:1148px;
  width:240px;
  height:210px;
}
#u146 {
  position:absolute;
  left:2px;
  top:97px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:210px;
}
#u147 {
  position:absolute;
  left:640px;
  top:1148px;
  width:250px;
  height:210px;
}
#u148 {
  position:absolute;
  left:2px;
  top:97px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u149 {
  position:absolute;
  left:1490px;
  top:1378px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u151 {
  position:absolute;
  left:1490px;
  top:1408px;
  width:250px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u153 {
  position:absolute;
  left:1215px;
  top:1378px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u155 {
  position:absolute;
  left:1215px;
  top:1408px;
  width:250px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u157 {
  position:absolute;
  left:930px;
  top:1378px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u159 {
  position:absolute;
  left:930px;
  top:1408px;
  width:250px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u161 {
  position:absolute;
  left:640px;
  top:1378px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u163 {
  position:absolute;
  left:640px;
  top:1408px;
  width:250px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:115px;
}
#u166 {
  position:absolute;
  left:0px;
  top:1560px;
  width:1920px;
  height:115px;
}
#u167 {
  position:absolute;
  left:2px;
  top:50px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u168 {
  position:absolute;
  left:1230px;
  top:1569px;
  width:541px;
  height:60px;
  color:#000000;
  text-align:center;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u170 {
  position:absolute;
  left:415px;
  top:1569px;
  width:289px;
  height:22px;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:41px;
}
#u172 {
  position:absolute;
  left:415px;
  top:1601px;
  width:63px;
  height:41px;
}
#u173 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u174 {
  position:absolute;
  left:485px;
  top:1601px;
  width:62px;
  height:41px;
}
#u175 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:41px;
}
#u176 {
  position:absolute;
  left:554px;
  top:1601px;
  width:61px;
  height:41px;
}
#u177 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
}
#u178 {
  position:absolute;
  left:625px;
  top:1601px;
  width:65px;
  height:41px;
}
#u179 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u180 {
  position:absolute;
  left:1534px;
  top:1490px;
  width:230px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
  text-align:right;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u182 {
  position:absolute;
  left:1570px;
  top:1490px;
  width:40px;
  height:40px;
}
#u183 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  position:absolute;
  left:640px;
  top:727px;
  width:1124px;
  height:10px;
}
#u185 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
